       .cabecalho{
           background-color: rgba(176, 211, 221, 0.281);
           color: rgba(138, 157, 219, 0.521);
           text-align:center;
           max-width 800px;
        }

        .conteudo-principal{
            background-color:rgb(40, 117, 184);
            color: rgb(245, 183, 183)
        }