       .cabecalho{
           background-color: rgba(176, 211, 221, 0.336);
           color: rgb(139, 80, 80);
           text-align:center;
           max-width: 800px;
           margin:0 auto;
           padding: 16px;
        }

        .conteudo-principal{
            background-color: rgb(139, 80, 80);
            color: rgb(170, 207, 216);
            max-width: 800px;
           margin:0 auto;
           padding: 16px;
        } 
            .imagem-principal{
                width: 250px;
                height: 250px;
            }

            .cabecalho-paragrafo{
                font-weight: bold;
            }

            .cabecalho-autor{
                font-weight:bold;
                text-decoration: italic;
            }
            .cabecalho-principal-texto{
                font-weight: bold;
            }